body {
    margin: 0;
}

.header h1,.header p {
    text-align: center;
}

ul {
    list-style: none;
    display: flex;
    padding: 0;
}

li {
    flex: auto;
    width: 50%;
}

.learning-goals {
    background-image: url(https://images.wantedly.com/i/SVSSkRg?w=2880);
    height: 300px;
    text-align: center;
    color: white;
    background-size: cover;
    background-position: center;
}

span {
    color: yellow;
}

.learning-goals a {
    background-color: blue;
    color: white;
    opacity: 0.9;
    display: inline-block;
    padding: 10px 10px;
    text-decoration: none;
}

.learning-goals a:hover {
    opacity: 0.5;
}